
#main {
    height:400px;
    width:350px;
    left:150px;
    padding: 50px;
    top:20%;
    background:white;
    opacity: 0.5;
    position:absolute;
    text-align: center;
    
}
.main2{
    height:400px ;
    top: 20%;
    left: 145px;
    background-color:transparent;
    position:absolute;
    margin :40pxpx;
    text-align:center
}

#vitality{
    
    background-color:transparent;
    POSITION :FIXED;
    z-index: 3;
    height:50px;
    width:100px;
    font-weight: bolder;
    top:10%;
    left:300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:orangered;
}
