
#main {
    height:400px;
    width:200px;
    left:30px;
    padding: 50px;
    top:20%;
    background:white;
    opacity: 0.5;
    position:absolute;
    text-align: center;
    
}
.main2{
    height:400px ;
    top: 20%;
    left: 7px;
    background-color:transparent;
    position:absolute;
    margin :40pxpx;
    text-align:center
}

#vitality{
    
    background-color:transparent;
    POSITION :FIXED;
    z-index: 3;
    height:50px;
    width:100px;
    font-weight: bolder;
    top:8%;
    left:110px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:orangered;
}
.main2 input[type="text"],.main2 input[type="password"]
{
    border:0;

    border:2px solid skyblue;
    text-align: center;
    padding: 14px 10px;
    outline: none;
    border-radius: 24px;
    transition: 0.125s;
    width:150px;
   


}
.main2 input[type="text"]:hover,.main2 input[type="password"]:hover
{
    width:200px;
    border-color: green;
    background-color: aquamarine;
}
.main2 button[type="button"]
{
    border:0;

    border:2px solid skyblue;
    text-align: center;
    padding: 14px 10px;
    outline: none;
    border-radius: 24px;
    transition: 0.125s;
    width:100px;
    background-color:gainsboro;

 
}
.main2 button[type="button"]:hover{
    background-color: green;
}
table{
    height:400px;
    width:250px;
    
}
